name: Update Baekjoon Graph and Tier Log

on:
  push:
    branches:
      - main # 백준 허브가 문제를 업로드하면 실행됨

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write # GitHub Actions에서 Repository Push 권한 부여
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # GitHub Actions 인증 토큰 사용

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install Dependencies
        run: pip install requests beautifulsoup4

      - name: Run Python Script
        run: python update_readme.py

      - name: Commit and Push if Changed
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub 인증 정보 설정
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md tier_log.txt baekjoon_grass.svg
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update Baekjoon Graph & Tier Log" && git push origin main)
